<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995051589281-p3ldafh901buq8g6ah8752igjc79arh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995051589281-p3ldafh901buq8g6ah8752igjc79arh1</string>
	<key>API_KEY</key>
	<string>AIzaSyCVD40R3BL_yaOarNFi_xHshtOPFjXymuY</string>
	<key>GCM_SENDER_ID</key>
	<string>995051589281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.story2</string>
	<key>PROJECT_ID</key>
	<string>story-fa730</string>
	<key>STORAGE_BUCKET</key>
	<string>story-fa730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995051589281:ios:2248244ecfe9082618aae0</string>
</dict>
</plist>